body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding-block: 1rem;
}

@media screen and (min-width:769px) {
    body {
        padding-top: 10rem;
    }
}

.left-background-image {
    position: absolute;
    left: 0;
    top: -10%;
    z-index: -1;
}

.right-background-image{
    position: absolute;
    right: 0;
    z-index: -1;
}

.form-container {
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.39);
-webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.171);
-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.39);
}